################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Casting/.vs/Casting/v16/ipch/AutoPCH/b561083680135586/CASTING.ipch
/C++Challenges/.vs/C++Challenges/v16/ipch/AutoPCH/80258b00fe0006a/C++CHALLENGES.ipch
/C++Challenges/.vs/C++Challenges/v16/Browse.VC.opendb
