################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Casting/.vs/Casting/v16/ipch/AutoPCH/b561083680135586/CASTING.ipch
